#edit-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.add-tag {
  width: 40rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 0;
}

#new-tag-input {
  height: 2rem;
  border-radius: 0.25rem;
  left: 50rem;
  margin-left: auto;
  background-color: var(--background-primary);
  color: var(--text-color);
  padding: 0 0.5rem;
}

.tag-container {
  margin-right: auto;
  margin-left: 0;
}

.post-tag.drop {
  border: 3px dashed var(--contrast-color);
}
.tag-container.drop {
  border: 3px dashed var(--contrast-color);
}

.body-input {
  width: 38rem;
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px solid var(--text-color);
  border-radius: 1rem 1rem 0 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media only screen and (max-width: 1175px) {
  .tag-container {
    display: none;
  }
}

@media only screen and (max-width: 725px) {
  .body-input {
    width: 23rem;
  }
  .add-tag {
    flex-direction: column;
    align-items: center;
  }

  #new-tag-input {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .body-input {
    width: 100%;
  }
}
