@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  font-family: "Oswald", sans-serif;

  --accent-color: #12fbf6; /* neon cyan glow */
  --secondary-accent: #0a4c77; /* deep ocean blue */
  --tertiary-color: #caf5f8; /* soft cyan tint */
  --dark-color: #0d0d1a; /* darker than logo background */
  --fitting-red: #e9453b; /* fox’s orange-red */
  --text-color: #e6f1f4;
}

.darkmode {
  background-color: var(--dark-color);
  color: var(--text-color);
}

body {
  background-color: var(--tertiary-color);
  padding: 0;
  margin: 0;
  width: 100%;
}
